<html>
<head>
<title>Home Page </title> 
</head>
<body>
   <h1>Read the latest posts Here</h1>
   {% for post in posts %}
      <h3>{{ post.title }}</h3>
      <p>{{ post.description }}</p>
      <a href="{% url 'create new post' %}">Create</a>
      <a href="{% url 'edit' post.id  %}">Edit</a>
      <a href="{% url 'delete' post.id %}">Delete</>
    {% empty %}
       <strong>No posts yet </strong>
       <a href="{% url 'create' %}">Create</a>
    {% endfor %}


</body> 

</html> 
